/* 共通 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "游ゴシック体", Yu gothic, "游ゴシック Medium", "Yu gothic medium" , sans-serif;
  ;
}

h1{
  color:#C38F4E ;
  font-size: 30px;
  text-align: center;
  position: relative;
}

h1:before{
  position: absolute;
  display: inline-block;
  content: '';
  bottom: -5px;
  left: 50%;
  width: 72px;
  height: 1px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FCA518;
}

h1,h2,li,p,footer {
  text-align: center;
  
}

img{
  max-width: 100%;
  height: auto;
}

img:nth-of-type(1) {
  width: 50%;
  box-shadow: 2px 1px 1px 1px #FFEC00;
  padding-left: -10px;
}

img:nth-of-type(2){
  height: auto;
}

li{
  list-style: none;
}

li a:hover {
  color: #000;
  text-decoration: none;

}

.container{
  color:#C38F4E ;
  max-width: auto;
  margin: auto;
}
iframe{
  max-width: 70%;
  height: auto;
  
}



