/* 共通 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "游ゴシック体", Yu gothic, "游ゴシック Medium", "Yu gothic medium" , sans-serif;
}

body {
  text-align: center;
  }

img{
  max-width: 100%;
  height: auto;
}

main{
  max-width: 70%;
  margin:0 auto;
}
main p{
  margin-top: 10px;
  padding-top: 10px;
}

.container{
  color:#C38F4E ;
  max-width: auto;
  margin: auto;
}

header p:nth-of-type(1) {
  width: 70%;
  margin-left: 10px;
}

header p:nth-of-type(2){
  height: auto;
}

/*大見出し*/
h1{
  color:#C38F4E ;
  font-size: 30px;
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

/* 大見出し　下線 */
h1:before{
  position: absolute;
  display: inline-block;
  content: '';
  bottom: 1px;
  left: 48%;
  width: 30px;
  height: 1px;
  margin: 10px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FCA518;
}

h2,nav,p,main a {
  margin-top: 10px;
  padding-bottom :10px;
}

h1,h2,li,p {
  text-align: center;
}
/* 最新情報の線 */
hr{
  margin: 10%;
}

/* hamburger */
@media(max-width:767px){
header nav{
  display: none;
}
}

@media(min-width:768px) and (max-width:1200px){
  header nav{
    display: block;
  }
}

li{
  list-style: none;
}

li a:hover {
  color: #000;
  text-decoration: none;

}


iframe{
  width: 100%;
  height: auto;
  padding: 10px;
}
/* footer */
footer{
  margin: 0;
  padding-top: 20px;
  margin-top: 20px;
  color: white;
  background-color: #4AB16F;
}

footer img{
  width: 30px;
  height: auto;
}

footer p{
  padding: 20px;
}

.toggle{
  color: white;
  padding-top: 20px;  
  float: left;
  width: calc(50% - 10px);
}

.clearfix:after {
  content:"";
  display: block;
  clear: both;
}
.toggle img:nth-of-type(1){
  width: 25px;
  height: auto;
}

.toggle a {
  color: white;
}

.toggle a:hover{
  text-decoration: none;
}