/* 共通 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "游ゴシック体", Yu gothic, "游ゴシック Medium", "Yu gothic medium" , sans-serif;
}
html{
  scroll-behavior: smooth;
}
img{
  width: 100%;
  height: 30%;
}

main{
  margin: 0 auto;
}

main img{
  margin-top: 10px;
  padding-top: 10px;
}

.container{
  color:#C38F4E ;
  margin: 20px;
  text-align: center;
}

h2,h3,nav,p,main a {
  margin-top: 10px;
  padding-top :10px;
}

h1,h2,li,p,nav {
  text-align: center;
}


p h2{
  margin: 20px;
  color:#C38F4E ;
}

@media(min-width:768px){
  body{
   max-width: 80%;
   margin: 0 auto;
  }
}

/* header */

.site-header{
  position: relative;

}
.site-logo{
  width : 200px;
  height : auto;
  margin-left : 10px;
}



.concept {
  width: auto;
  height: 300px;
  background-image: url(img/珈琲２@2x.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

/* navigation */
.site-header .main-nav{
  width: 100%;
}

.main-nav{
  left: 10px;
  width: 90%;
  display: none;
}

.main-nav li{
  width: 100%;
  display: block;
  padding-left: 20px;
  background-color:#4AB16F ;;
}

.main-nav__item a{
  color: #fff;
  position: absolute;
  top: -40px;
  
}

.link{
  width: 300px;
  margin: 0 auto;
}



/* hamburger */
.hamburger{
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
}
.hamburger input[type="checkbox"]:checked ~ .main-nav{
  display: block;
  width: 100%;
}
/* hamburger icon  */

.hamburger .hamburger__toggle{
  display: none;
}

.hamburger .hamburger__toggle-label{
  position: absolute;
  display: block;
  top: 5px;
  right: 10px;
}

.hamburger_menu{
  background-image: url(icon/3x/ハンバーガーメニュー.png);
}

@media(min-width:768px){
.hamburger__toggle-label{
  display: none;
  }
}

@media(min-width:768px){
  .hamburger, .main-nav{
    position: absolute;
    top: 20px;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    left: 25%;
    flex: 1;
  }
}

/* ヘッダー　タブレットサイズ */
@media(min-width:768px){
  .site-logo {
    width: 170px;
    padding: 0;
  }
}

@media(min-width:768px){
  .naisou {
    width: 100% ;
    height: 700px;
  }
}

@media(min-width:768px){
  .main-nav{
    padding-top: 5px;
    right: 5px;
    flex: 1;
  }
}

@media(min-width:768px){
  .main-nav li{
    background-color: transparent;
    padding: 0;
  }
}
@media(min-width:768px){
  .main-nav__item a{
    color: #000;
    padding-left: 10px;
  }
} 

/* main_visual */

/*大見出し*/
h1{
  color:#C38F4E ;
  font-size: 30px;
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

/* 大見出し　下線 */
h1:before{
  position: absolute;
  display: inline-block;
  content: '';
  bottom: 1px;
  left: 48%;
  width: 30px;
  height: 1px;
  margin: 10px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FCA518;
}

.osusume{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

table{
  text-align: left;
  
}

.set-menu{
  text-align: center;
}

.menu-list{
  text-align: center;
}

@media(min-width:768px){
  .h1_main{
    margin: 0;
    text-align: right;
  }
  
}

@media(min-width:768px){
  .h1_main:before{
    margin: 0;
    right: 10px;
  
}
}

@media(min-width:768px){
  .concept{
    max-width: 40%;
    left: 10%;
  }
}

/* 最新情報の線 */
hr{
  margin: 10%;
}






li{
  list-style: none;
}

li a:hover {
  color: #000;
  text-decoration: none;

}


iframe{
  width: 100%;
  height: auto;
  padding: 10px;
}

/* footer */
footer{
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 70px;
  color: white;
  background-color: #4AB16F;
}


footer p{
  padding: 20px;
}

.wrap-clearfix{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.toggle {
  color: white;
  padding-top: 40px; 
  width: 49%; 
  text-align: center;
}

.sns{
  padding-top: 10px; 
  width: 49%; 
  text-align: center;
}
.sns img{
  padding-top: 10px;
  width: 25px;
  height: auto;
}
.toggle a {
  color: white;
}

.toggle a:hover{
  text-decoration: none;
}

.go-to-top{
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
}

.go-to-top button{
  display: inline-block;
  padding: 10px;
  border: none;
}
/* footer タブレットサイズ */

@media(min-width:768px){
 .sns{
  width: 40px;
  padding-top: 20px; 
  padding-bottom: 20px;
  width: 49%; 
  text-align: center;
 }
}
@media(min-width:768px){
  .toggle{
  color: white;
  padding-top: 10px; 
  width: 32%; 
  text-align: center;
  }
}

@media(min-width:1200px){
  .sns{
    width: 40px;
    padding-top: 20px; 
    padding-bottom: 20px;
    width: 49%; 
    text-align: center;
   }
}

@media(min-width:768px){
  .toggle{
  color: white;
  padding-top: 10px; 
  width: 23%; 
  text-align: center;
  }
}
